# Choose a dataset among the following;
# stackoverflow / pole / network-management / recommendations
ACTIVE_DATASET=recommendations

# Neo4j Authentication
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=testpassword