# 데이터셋 설정
# Choose a dataset among the following;
# stackoverflow / pole / network-management / recommendations
ACTIVE_DATASET=pole

# Neo4j Authentication
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=SuperSecretPassword
